* {
  margin: 0;
  padding: 0;
}

body {
 background-color: black;
 font-family: 'Crafty Girls', cursive;
}

p {
  text-align: justify;
}
ul {
  display: inline-block;
}
/*logo*/
.logo {
	background-image: url(../img/logo.png);
	background-size: cover;
}

.navbar-brand {
 padding: 50px 55px;
}

.titulo {
  text-align: center;
}
/*carousel*/
.carousel-inner img {
  width: 100%;
  background-position: center center;
  background-repeat: non-repeat;
  background-size: cover;
}

.carousel-inner {
 height: 500px;
}
/*registro*/
.text-center {
 background-color: #00FF00;
 border-radius: 2em;
 font-family: 'Permanent Marker', cursive;
 margin-top: 15px;
 margin-bottom: 15px;
}

.container-fluid {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*pie de pagina*/
.backgroundFooter {
  background-color: #343a40;
}

.footer {
  text-align: center;
  color: #FFF;
  margin: 2%;
}
