* {
  margin: 0;
  padding: 0;
}

body {
 background-color: black;
 font-family: 'Crafty Girls', cursive;
}

p {
  text-align: justify;
}
/*logo*/
.logo {
	background-image: url(../img/logo.png);
	background-size: cover;
}

.googleIcono {
  background-image: url(../img/google.png);
  background-size: cover;
  height: 10vh;
  width: 10%;
}

.navbar-brand {
 padding: 50px 55px;
}

.titulo {
  text-align: center;
}
/*dialogo modal*/
.modal-dialog{
  background-color: #87EB34;
  border-radius: 2em;
}

.text-center{
  margin-top: 0;
}
/*modal registro*/
.modal-content{
  background-color: #87EB34;
}
.thumbnail{
  background-color: #87EB34;
  border: 0;
}
/*carousel*/
.carousel-inner img {
  width: 100%;
  background-position: center center;
  background-repeat: non-repeat;
  background-size: cover;
}

.carousel-inner {
 height: 70vh;
}
/*registro*/
.text-center {
 background-color: #87EB34;
 border-radius: 2em;
 font-family: 'Permanent Marker', cursive;
 margin-top: 15px;
 margin-bottom: 15px;
}

.container-fluid {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*pie de pagina*/
.backgroundFooter {
  background-color: #343a40;
}

.footer {
  text-align: center;
  color: #FFF;
  margin: 2%;
}
