body{
  background-image: linear-gradient(to right,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
  font-family: 'Permanent Marker', cursive;

}

.logo{
  background-image: url(../img/logo.png);
	background-size: cover;
  width: 30vh;
  height: 20vh;
}

.navbar-nav>li>a{
  padding-top: 30px;
}

.dropdown-menu {
  font-family: 'Permanent Marker', cursive;
}

.start{
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
}
.dropdown{
  padding-top: 10px;
}

.inicio{
  width: 10vh;
}
/*chat*/
.contact{
  background-image: url(../img/fondochat.jpg);
  background-size: cover;
}
.mdl-card__supporting-text{
  overflow: 0;
}

.border {
  border: 1px solid green;
  background-color: #FFF;
}
.contact {
  border: 1px solid red;
  height: 80vh;
}

.img1 {
  width: 100%;
  height: 40vh;
}

.maps {
  height: 50vh;
  margin-top: 50px;
}
.input-group-lg {
  padding-top: 50px;
}
.control-label{
  padding-top: 10px;
}
.btnSearchFil {
  margin-top: 30px;
}

.imgPost {
  width: 100%;
  height: 30vh;
}

.imgPerfil {
  width: 20px;
  height: 20px;
}
.foto {
  width: 20px;
  height: 25px;
}
.title{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
.rowborder{
  padding: 20px;
}
